html, body {
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 100%;
  width: 100%;
  color: palevioletred;
  background-image: url(red.jpg);
  background-size: cover;
  background-repeat: repeat;
filter: rgb(142,45,226);}
#confetti{
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  height:100%;
  width: 100%;
}
.proja{position: relative;
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #FFB302;
  font-weight: bold;font-family: 'Bangla', Arial, sans-serif !important;
 animation: deg 6s linear infinite;
}
@keyframes deg{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);font-size: 38px;}
    50%{transform: rotate(20deg);font-size: 40px;}
        75%{transform: rotate(-10deg);font-size: 38px;}
    100%{transform: rotate(0deg);font-size: 36px;}
}

svg text {
		animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;font-size: 140px;
	}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(255,179,2,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(255,179,2,1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(255,179,2,1); stroke-width: 3; }
	100% {
		fill: rgba(255,179,2,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
#fontcss{
  color: #FFB302;
  font-family: 'Bangla', Arial, sans-serif !important;
  font-size: 20px;margin-left: 10px;
}
.bih{
  color: #FFB302;
  font-family: 'Bangla', Arial, sans-serif !important;
  font-size: 20px;margin-left: 10px;margin-right: 10px;text-indent: 40px;text-align: justify;margin-bottom: 40px; 
  animation: larg 6s linear infinite;
}
@keyframes larg{
        0%{
            font-size: 22px;
        }
        50%{
            font-size: 20px;
        }
        100%{
            font-size: 22px;
        }
    }
h2{
  text-align: center;
  color: #FFB302;
  font-family: 'CharuChandan3D', Arial, sans-serif !important;animation: spac 3s linear infinite;
}
@keyframes spac{
        0%{
            letter-spacing: 1px;
        }
        25%{
            letter-spacing: 5px;
        }
        50%{
            letter-spacing: 12px;
        }
        75%{
            letter-spacing: 5px;
        }
        100%{
            letter-spacing: 1px;
        }
    }
.lipi{
  text-align: center;
   color: #FFB302;
   font-family: 'Bangla', Arial, sans-serif !important;font-size: 20px;   
}
.subh,.prit,.than{
    background-color: red;
    width: 130px;margin: 0 auto .5em;border-radius: 50px;font-weight: bold;letter-spacing: 3px;color: white;
    animation: anim 3s linear infinite;
    }
    @keyframes anim{
        0%{
            font-size: 22px;background-color: white;color: red;border-radius: 50px 0px 50px 0px;
        }
        50%{
            font-style: italic;font-size: 22px;background-color: red;border-radius: 0px 50px 0px 50px;
        }
        100%{
            font-style: italic;font-size: 22px;background-color: red;border-radius: 50px 0px 50px 0px;
        }
    }
.nibe{
  color: #FFB302;
  text-align: right;
  font-family: 'Bangla', Arial, sans-serif !important;font-size: 20px;margin-right: 10px;
}
.gif{
    max-width: 399px;
}
img{width: 100%;margin-bottom: 20px;}
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid white;
background-image: url(bgr.jpg);background-repeat: no-repeat;background-size: cover;
color: white;
border-radius: 50px;
margin: 0 9px;
font-size: 2em;
font-weight: 250;animation: zoom 3s linear infinite;   
}
@keyframes zoom{
    0%{border-radius: 5px;border: 1px solid white};25%{border-radius: 50px;};50%{border-radius: 40px;border: 1.2px solid white};75%{border-radius: 25px};100%{border-radius: 5px;border: 1px solid white};
}
.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
background: #81FC1E;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;animation: hait 3s linear infinite;
}
@keyframes hait{
    0%{height: .5px};20%{height: 18px;};40%{height: 9px};60%{height: 4px};80%{height: 9px};100%{height: 18px};
}
.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.subh{
    margin-bottom: 20px;
    margin-top: 10px;
}
.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;

}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(1) .content{
color: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(2) .content{
color: #e91e63
}
footer{
    width: 100%;
    height: 100px;
    background-image: url(fot.jpg);
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: black;
      line-height: 23px;
        }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;            
      }
      a{
          text-decoration: none;
          background-color: green;
      }